@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient-to-r
{
    background: linear-gradient(to right, #dbecf5, #e0eff3,rgb(250, 227, 231));
    color: turquoise;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: bold;
}